/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 /* #frmb-1692175072259-control-box{
   max-width: 50%;
 } */
 .parent-element {
   position: relative;
   padding: 20px;
}
.filter_buttons{
   display: flex;
   margin-bottom: 32px;
}
.Trash_form_button{
   width: 40px;
   margin-left: 45px;
   position: absolute;
   color: #3498db;
   border: none;
   padding: 0;
   cursor: pointer;
}
.All_form_button{
   border-right: 2px solid lightgray!important;
   margin-right: 50px;
   width: 40px;
   position: absolute;
   color: #3498db;
   border: none;
   padding: 0;
   cursor: pointer;
}
.restore_button{
   border-right: 2px solid lightgray!important;
   width: 55px;
   position: absolute;
   top: 50%;
   left: 21px;
   transform: translate(-50%, -50%);
   color: #3498db;
   background: transparent;
   border: none;
   padding: 0;
   cursor: pointer;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}
.delete_permanently_button {
   width: 115px;
   position: absolute;
   top: 50%;
   margin-left: 90px;
   transform: translate(-50%, -50%);
   color: #db7434;
   background: transparent;
   border: none;
   padding: 0;
   cursor: pointer;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

.edit_button {
   border-right: 2px solid lightgray !important ;
   width: 35px;
   position: absolute;
   top: 50%;
   left: 11px;
   transform: translate(-50%, -50%);
   color: #3498db;
   background: transparent;
   border: none;
   padding: 0;
   cursor: pointer;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}
.settings_button{
   border-right: 2px solid lightgray !important;
   width: 60px;
   position: absolute;
   top: 50%;
   margin-left: 37px;
   transform: translate(-50%, -50%);
   color: #3498db;
   background: transparent;
   border: none;
   padding: 0;
   cursor: pointer;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}
.trash_button {
   width: 40px;
   position: absolute;
   top: 50%;
   margin-left: 135px;
   transform: translate(-50%, -50%);
   color: #db7434;
   background: transparent;
   border: none;
   padding: 0;
   cursor: pointer;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}
.entries_button{
   border-right: 2px solid lightgray !important;
   width: 50px;
   position: absolute;
   top: 50%;
   margin-left: 90px;
   transform: translate(-50%, -50%);
   color: #3498db;
   background: transparent;
   border: none;
   padding: 0;
   cursor: pointer;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}
.parent-element:hover .edit_button {
   opacity: 1;
}
.parent-element:hover .trash_button {
   opacity: 1;
}
.parent-element:hover .settings_button {
   opacity: 1;
}
.parent-element:hover .restore_button {
   opacity: 1;
}
.parent-element:hover .delete_permanently_button {
   opacity: 1;
} 
.parent-element:hover .entries_button {
   opacity: 1;
}


 #ibs-ghl-forms input[type=checkbox] {
     margin-left: 0;
 }
 
 #ibs-ghl-forms .widefat .check-column {
     padding: 8px 10px;
 }
 
 .ibs_ghl_form {
     width: 100%;
     display: flex;
 }
 
 .ibs_ghl_form_title {
    width: 75%;
 }
 
 .ibs_ghl_form_title input {
    width: 98%;
    height: 50px;
    margin: 30px 0px;
 }
 
 .ibs_ghl_form_action {
    margin: 30px 0px;
 }
 
 .ibs_ghl_form_action {
    width: 25%;
 }

 .search-box{
   margin-top: -35px !important;
 }